/* Mobile */
.transactionForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  width: 280px;
}

.transactionInfo {
  color: red;
  margin-bottom: 30px;
}

/* Ascunde săgețile de incrementare/decrementare din câmpul număr */
.input[type='number']::-webkit-inner-spin-button,
.input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input,
.textarea {
  color: white;
  width: 280px;
  padding: 8px;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  background-color: transparent;
  font-size: 18px;
  font-weight: 600;
  resize: none;
  margin-bottom: 30px;
}

.input:focus,
.textarea:focus {
  outline: none;
}

/* Schimbă culoarea iconiței calendarului pentru browserele WebKit */
.input[type='date']::-webkit-calendar-picker-indicator {
  filter: invert(75%) sepia(100%) saturate(340%) hue-rotate(256deg)
    brightness(103%) contrast(90%);
}

.submitButton {
  margin-bottom: 20px;
}

/* Tablet / Desktop */
@media only screen and (min-width: 768px) {
  .formRow {
    display: flex;
    gap: 2rem;
    align-items: center;
    align-content: center;
  }
  .input {
    cursor: pointer;
    width: 181px;
  }
  .amountStyle {
    text-align: center;
  }
  .textarea {
    width: 394px;
  }
}
