.TransactionItem {
  margin: 50px;
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.editButton {
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5.27px;
}

.editIcon {
  width: 14px;
  height: 14px;
}
